body,html{
	width: auto;
	height: 100%;
	background-position: center;
  	background-image: url("image.jpg");
  	background-size: cover;
}
body{
	align-items: center;
	padding-top: 20px;
    padding-bottom: 40px;
}

header.startup h2 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 1.5em;
	border-bottom: 2px solid blue;
	width: 200px;
	text-align: center;
	margin-top: 10px;

}
.homepage{
	margin: auto;
	padding: 40px;
	color: white;
	font-size: medium;
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img {
	width: 200px;
	height: 150px;
	margin: 10px;
	transition: all 0.5s linear;
}

img:hover {
	transform: scale(1.1);
}
.nav-menu{
	display: flex;
	list-style: none;
	padding-right: 20px;
	margin: 15px;
	font-size: 0.7em;
	
}

@media only screen and (max-width: 600px){
	.nav-menu{
		font-size: 0.4em;
		padding: 0%;
	}
	header.startup h2{
		font-size: 1em;
		padding: 0%;
		width: 150px;
	}
	.dropdown-toggle{
		font-size: 1.5em;
		padding: 0%;
	}
	.homepage{
		font-size: 0.8em;
		padding: 20px;
		text-align: justify;
		align-content: center;
	}
	.dropdown-menu{
		font-size: 1.5em;
		padding: 5px;
		border: 2px;
	}
	img{
		width: 100px;
		height: 90px;
		margin-right: 10px;
	}
}

